body{ background-color: #105810;
  width: 100vw;
  height: 100vh;}

.navbar{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(76, 76, 76);
  padding: 20px;
  height: 70px; 
  display: flex;
  flex-direction: column;}


.name{ 
  position: absolute;
  top: 0;
  left: 0;
}

.links{ 
position: absolute;
margin-top: 60px;}

h1{font-size: 3rem;
  text-decoration: underline;
  margin:0;
  padding: 10px;
  color: white}

  a{
    background-color: #105810;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 20px;}

    
    header{
      font-size: 3em;
      margin-top: 30px;
      width: 100%;
      
      background-color: black;
      color: white;
     ;
      }

        p{color:white;
          font-size: 1.5em;
          text-align: left;
          line-height: 1.5;
          letter-spacing:1px;
          text-indent: 50px;
        font-family:Georgia, 'Times New Roman', Times, serif}


          img{object-fit: cover;
           margin-left: 70%;
          padding: 0;}

           .qoute{ font-size: 20px;
          font-style: oblique;}



          main{ width:60rem;
            height:58rem;
            background-color: black;
            padding: 85px 24px 96px;
           display: flex;
        flex-direction: column;}
       

          footer{ position: fixed;
            left:0;
            bottom:0;
            width:100%;
            background-color:rgb(76, 76, 76);
          padding:20px;
          height: 30px;}

          .qoute{ width:22rem;
          text-align: left;}
        


          .container{display:flex;
          justify-content: center; 
           }

h1, header, p{ font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}