body{ 
  background-color: #105810;
  width: 100vw;
  height: 100vh;}

nav{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(76, 76, 76);
  padding: 20px;
  height: 70px; 
  display: flex;
  flex-direction: column;}



.name{  
  position: absolute;
  top: 0;
  left: 0;}

.links{ 
position: absolute;
margin-top: 60px;}



main{ 
  width:60rem;
  height:58rem;
  background-color: black;
  padding: 85px 24px 96px;
  display: block;
  flex-direction: column;
  }


h1{
  font-family:'Times New Roman', Times, serif;
  font-size: 3rem;
  text-decoration: underline;
  text-align: left;
  margin:0;
  padding: 10px;
  color: white}



a{
  font-family:'Times New Roman', Times, serif;
  font-family:'Times New Roman', Times, serif;
  background-color: #105810;
  color: rgb(0, 0, 0);
  padding: 5px;
  font-size: 20px;}

    
header{
  font-family:'Times New Roman', Times, serif;
  font-family:'Times New Roman', Times, serif;
  font-size: 3em;
  margin-top: 30px;
  width: 100%;
  background-color: grey;
  color: white;
  margin-left:0;
  padding-top: 10px;}

p{
  font-family:'Times New Roman', Times, serif;
  font-family:'Times New Roman', Times, serif;
  color:white;
  font-size: 1.5em;
  text-align: left;
  font-size: 1.5em;
  text-align: left;
  line-height: 1.5;
  letter-spacing:1px;
  text-indent: 50px;}


img{object-fit: cover;
  margin-left: 70%;
  padding: 0;}

          

footer{ position: fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color:rgb(76, 76, 76);
  padding:20px;
  height: 50px;}

.quote{ width:22rem;
  letter-spacing:1px;
  text-indent: 50px;}


img{object-fit: cover;
  margin-left: 70%;
  padding: 0;}

          

footer{ position: fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color:rgb(76, 76, 76);
  padding:20px;
  height: 50px;}

.quote{ width:22rem;
  text-align: left;
  letter-spacing: 1px;
  text-indent: 50px;}  

img{
  object-fit: cover;}
  
main{
  background-color: black;
  flex-direction: column;
  box-shadow: 0 0 5px (0 0 0.1);
  display: flex;
  padding: 85px 24px 96px;
  width:60rem;}  
