body{ 
  background-color: #105810;
  width:100vw;
  height:100vh}

nav{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background-color: black;
  padding:20px;
  height:70px;
  display:flex;
  flex-direction: column;}

.name{
  position: absolute;
  top:0;
  left:o;}
  
.links{ 
  position:absolute;
  margin-top:60px;}

h1{
  font-size: 3rem;
  text-decoration: underline;
  margin: 0;
  padding: 10px;
  color: white;}

a{
  background-color: #105810;
  color: black;
  font-size: 20px;
  padding: 5px;}
  
header{
  font-size: 3em;
  width: 100%;
  color: white;
  padding: 10px;}
  
p{
  color:white;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 1px;
  text-indent: 50px;}  

img{
  object-fit: cover;}
  
main{
  background-color: black;
  flex-direction: column;
  box-shadow: 0 0 5px (0 0 0.1);
  display: flex;
  padding: 85px 24px 96px;
  width:60rem;}  
